.App {
  text-align: left;
  
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: white;
}


.div-articleSmall{
  width:336px;
  height :536px;
  background-color: white;
  border-radius: 27px;

}
.div-article{
  margin-left: 5em;
  border-radius: 29px;
}
button{
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background:#418DCB;
  margin-left: 5em;
  width:131px;
  height :40px;


 }
 h3{
  padding-top: 2em;
 }
 
